# Data from MNIST experiment runs
MNIST/rand1k_runs/*
log_dir/

# Comet data logging API key
.comet.config

# Larger datasets
datasets/MNIST/full_test.npy
datasets/MNIST/full_train.npy
datasets/MNIST/full_test_discrete.npy
datasets/MNIST/full_train_discrete.npy
datasets/genz/*

__pycache__/
