# Data from MNIST experiment runs
MNIST/rand1k_runs/*
log_dir/

# Comet data logging API key
.comet.config

# Full MNIST dataset
MNIST/mnist-rand1k_28_thr50_z/full_test.npy
MNIST/mnist-rand1k_28_thr50_z/full_train.npy
MNIST/mnist-rand1k_28_thr50_z/full_test_discrete.npy
MNIST/mnist-rand1k_28_thr50_z/full_train_discrete.npy

__pycache__/
